<!DOCTYPE html>
<html lang="{{lang | default('en')}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{metadesc | default('')}}"/>
        <meta name="mode" description="{{isdev}}">
        <base href="{{rootWeb}}" >
        <title>
            {% block title %}{% endblock %}
        </title>
        {% if dev %}
            <script src="externals/vuejs/vue.js"></script>
            {{_debugbarRenderer.renderHeader()}}
        {% else %}
            <script src="externals/vuejs/vue.min.js"></script>
        {% endif %}
        <link rel="stylesheet" href="externals/bootstrap/css/bootstrap.min.css">
        <link href="externals/core/theme/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="Modules/core/Theme/core.css">
        <link rel='stylesheet' href='Modules/core/Theme/spacemenu.css' />
        <link href="externals/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
        <script src="externals/jquery-1.11.1.js"></script>
        <script src="externals/bootstrap/js/bootstrap.min.js"></script>
        {% block stylesheet %}

        {% endblock %}

    </head>
    <body style="background-color: #e7ecf0;">
        {% block navbar %}
            {{navbar | raw}}
        {% endblock %}

        {% block spacenavbar %}
        {% endblock %}

        <div class="container row">
            <?php startblock('spacemenu') ?>
            <?php endblock() ?>


            <div id="app" class="container">
            {% if flash %}
                <div class="alert alert-{{flash['class']}} alert-dismissible  show" role="alert">
                    {{flash['msg']}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>

        {% block footer %}
        <footer class="fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><a href="http://bgo-bioimagerie.github.io/platformmanager/">Documentation</a></div>
                <div class="col-sm-4"><a href="/coreabout">About</a></div>
            </div>
        </div>
        </footer>
        {% endblock %}

        {% if dev %}
            {{_debugbarRenderer.renderHeader()}}
        {% endif %}
    </body>
</html>
