<div style="color:{{color}}; background-color:{{bgcolor}}; padding: 10px">
    <div class="" style="height: 50px; padding-top: 15px; color:{{color}}; background-color:{{bgcolor}}; border-bottom: 1px solid #fff;">
        <a  style="background-color:{{bgcolor}}; color:{{color}};" href="/bookingsettings/{{id_space}}"> {{title}} 
            <span style="color:{{color}}; font-size:16px; float:right;" class=" hidden-xs showopacity glyphicon {{glyphicon}}"></span>
        </a>
    </div>

    <div>
        <br/>
        {{Calendar_View}}    
    </div>

    <div class=" pm-inline-div">
        <a style="color:{{color}};" href="bookingscheduling/{{id_space}}/0">{{Scheduling}}</a>       
    </div>

    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingdisplay/{{id_space}}">{{Display}}</a>
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingaccessibilities/{{id_space}}">{{Accessibilities}}</a>
    </div>
    <div class="pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingrestrictions/{{id_space}}">{{Restrictions}}</a>
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingnightwe/{{id_space}}">{{Nightwe}}</a>
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingcolorcodes/{{id_space}}">{{Color_codes}}</a>
        <a style="color:{{color}};" id="menu-button" href="bookingcolorcodeedit/{{id_space}}/0">+</a>
    </div>
    <div class="" >
        <br/>
        {{Additional_info}}
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingsupsinfo/{{id_space}}">{{SupplementariesInfo}}</a>
    </div>

    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingpackages/{{id_space}}">{{Packages}}</a>
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingquantities/{{id_space}}">{{Quantities}}</a>
    </div>


    <div class="" >
        <br/>
        {{booking}}
    </div>
    <div class=" pm-inline-div" >
        <a style="color:{{color}};" id="menu-button" href="bookingblock/{{id_space}}">{{Block_Resouces}}</a>
    </div>

</div>
