{% extends "Modules/layout.twig" %}
   
{% block content %}

<div class="row pm-table">
    <div id="formSection" data-origin="{{origin}}">
    {{origin}}
            <input
                v-for="(item, index) in sections"
                :id="item.btnId"
                type="button"
                :value="item.displayName"
                @click="showForm(item.name)">
            </input>
        <div id="spaceAccessSection" v-show="show.spaceAccess">
            {% autoescape false %}
                {{ spaceAccessForm }}
            {% endautoescape %}
        </div>
        <div id="clientsUserSection" v-show="show.clientsUser">
            {% autoescape false %}
                {{ clientsUserForm }}
                {{ clientsUserTable }}
            {% endautoescape %}
        </div>
        <div id="bkAuthHistorySection" v-show="show.bkAuthHistory">
            {% autoescape false %}
                {# {{ bkHistoryForm }} #}
                {{ bkHistoryTable }}
            {% endautoescape %}
        </div>  
        <div id="bookingAccessSection" v-show="show.bookingAccess">
            {% autoescape false %}
                {{ bkAuthTable }}
                {{ bkAuthAddForm }}
            {% endautoescape %}
            <script type="module">
                import {DynamicForms} from '/externals/pfm/dynamics/dynamicForms.js';
                let dynamicForms = new DynamicForms();
                let spaceId = {{ id_space }};
                let sourceId = "resource";
                let targets = [
                    {
                        elementId: "visa_id",
                        apiRoute: `revisas/getcategoryvisas/`,
                        activateOnLoad: true
                    }
                ];
                dynamicForms.dynamicFields(sourceId, targets, spaceId);
            </script>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#formSection',
        data () {
            return {
                origin: false,
                sections: [
                    {name: "spaceAccess", btnId: "spaceAccessBtn", displayName: "Space access"},
                    {name: "clientsUser", btnId: "clientsUserBtn", displayName: "Clients accounts"},
                    {name: "bookingAccess", btnId: "bookingAccessBtn", displayName: "Booking access"},
                    {name: "bookingAuthorisationsHistory", btnId: "bookingAuthorisationsHistoryBtn", displayName: "Booking authorisations history"}
                ],
                show: {
                    clientsUser: false,
                    spaceAccess: false,
                    bookingAccess: false,
                    bkAuthHistory: false
                },
                params: {
                    spaceId: {{ id_space }},
                    userId: {{ id_user }},
                }
            }
        },
        beforeMount: function() {
            this.origin = JSON.parse(this.$el.attributes['data-origin'].value);
            this.showForm(this.getOriginPage());
        },
        mounted: function() {
            if (!this.logged) {
                return
            }
        },
        methods: {
            showForm(name="spaceAccess") {
                // TODO: write that more efficiently
                switch (name) {
                    case "spaceAccess":
                        this.show.spaceAccess = true;
                        this.show.clientsUser = false;
                        this.show.bookingAccess = false;
                        this.show.bkAuthHistory = false;
                        break;
                    case "clientsUser":
                        this.show.spaceAccess = false;
                        this.show.clientsUser = true;
                        this.show.bookingAccess = false;
                        this.show.bkAuthHistory = false;
                        break;
                    case "bookingAccess":
                        this.show.spaceAccess = false;
                        this.show.clientsUser = false;
                        this.show.bookingAccess = true;
                        this.show.bkAuthHistory = false;
                        break;
                    case "bkAuthHistory":
                        this.show.spaceAccess = false;
                        this.show.clientsUser = false;
                        this.show.bookingAccess = false;
                        this.show.bkAuthHistory = true;
                        break;
                    default:
                        break;
                }
            },
            getOriginPage() {
                let result;
                if (this.origin.page.match(/clientsuser/g)) {
                    result = "clientsUser";
                } else if (this.origin.page.match(/spaceaccess/g)) {
                    result = "spaceAccess";
                } else if (this.origin.page.match(/bookingaccess/g)) {
                    result = "bookingAccess";
                } else if (this.origin.page.match(/bkauthhistory/g)) {
                    result = "bkAuthHistory";
                }
                return result;
            },
        }
    });
</script>

{% endblock %}
