{% extends "Modules/layout.twig" %}
   
{% block content %}

<div class="row pm-table">
    <div id="formSection" data = "{{data}}">
        <input
            v-for="item in sections"
            :id="item.btnId"
            type="button"
            :class="item.show ? 'btn btn-primary' : 'btn btn-secondary'"
            :value="item.displayName"
            style="margin:5px;"
            @click="showForm(item.module)">
        </input>

        <div id="sections" style="margin:5px;">
            <div :id="item.name + 'Section'" v-for="item in sections" v-show="item.show">
                <div name="formDiv" v-html="item.formHtml"></div>
                <div name="tableDiv" v-html="item.tableHtml"></div>
                <div name="subsection" v-if="item.subSection">
                    <div :id="item.subSection.name + 'Section'">
                        <div name="tableDiv" v-html="item.subSection.tableHtml"></div>
                    </div>
                </div>

                <script v-if="item.module==='booking'" type="module">
                    import {DynamicForms} from '/externals/pfm/dynamics/dynamicForms.js';
                    if (!app.$data.dynamicsLoaded) {
                        let dynamicForms = new DynamicForms();
                        let spaceId = {{ id_space }};
                        let sourceId = "resource";
                        let targets = [
                            {
                                elementId: "visa_id",
                                apiRoute: `revisas/getcategoryvisas/`,
                                activateOnLoad: true
                            }
                        ];
                        dynamicForms.dynamicFields(sourceId, targets, spaceId);
                        app.$data.dynamicsLoaded = true;
                    }
                </script>

                <script>
                    function ConfirmDelete(id, name) {
                        let spaceId = {{ id_space }}
                        let userId = {{ id_user }}
                        if (confirm(`Delete ${name} ?`)) {
                            location.href=`clientsuseraccountsdelete/${spaceId}/${userId}/${id}`;
                        }
                    }
                </script>

            </div>
        </div>

    </div>
</div>

<script>
    class Section {
        constructor(name, module, btnId, displayName, formHtml = null, tableHtml = null, show = false, subSection = null) {
            this.name = name;
            this.module = module;
            this.btnId = btnId;
            this.displayName = displayName;
            this.formHtml = formHtml;
            this.tableHtml = tableHtml;
            this.subSection = subSection;
            this.show = show;
        }
    }
    var app = new Vue({
        el: '#formSection',
        data () {
            return {
                data: false,
                sections: [],
                params: {
                    spaceId: {{ id_space }},
                    userId: {{ id_user }},
                    lang: 'en'
                },
                dynamicsLoaded: false
            }
        },
        mounted: function() {
            this.data = JSON.parse(this.$el.attributes['data'].value);
            this.generateSections();
            this.showForm(this.getOriginPage());
        },
        methods: {
            showForm(itemModule) {
                let found = false;
                this.sections.forEach((section, index, array) => {
                    if (section.module === itemModule) {
                        section.show = true;
                        found = true;
                    } else {
                        if (section.subSection && section.subSection.module === itemModule) {
                            section.show = true;
                            section.subSection.show = !section.subSection.show;
                        } else {
                            section.show = false;
                            section.subSection ? section.subSection.show = false : null;
                        }
                    } 
                });   
            },
            getOriginPage() {
                let originPage = "space";
                if (this.data.origin.page.match(/clientsuser/g)) {
                    originPage = "clients";
                } else if (this.data.origin.page.match(/spaceaccess/g)) {
                    originPage = "space";
                } else if (this.data.origin.page.match(/bookingaccess/g)) {
                    originPage = "booking";
                } else if (this.data.origin.page.match(/bkauthhistory/g)) {
                    originPage = "bookinghistory";
                }
                return originPage;
            },
            generateSections() {
                this.data.options.push({
                    module: "space",
                    toolname: "spaceaccess"
                });
                this.data.options.forEach(option => {
                    let section = new Section(
                        option.toolname,
                        option.module,
                        option.module + "Btn",
                        this.data.btnsNames[option.module],
                        this.data.forms[option.toolname],
                        this.data.forms[option.toolname + "Table"]
                    );
                    if(option.module === "booking") {
                        let subSectionModule = "bookinghistory";
                        section.subSection = new Section(
                            subSectionModule,
                            subSectionModule,
                            subSectionModule + "Btn",
                            this.data.btnsNames[subSectionModule],
                            this.data.forms[subSectionModule],
                            this.data.forms[subSectionModule + "Table"]
                        );
                    }
                    this.sections.push(section);
                });
            }
        }
    });
</script>

{% endblock %}
