{% extends "Modules/layout.twig" %}



{% block content %}

<div class="pm-table">
    
    <div class="col-12">
        
        {% if allPeriod == 1 %}
            <h3> GanttPeriod {# ServicesTranslator::GanttPeriod($lang) #} <h3/>
        {% else %}
             <h3> GanttOpened {# ServicesTranslator::GanttOpened($lang) #} <h3/>
        {% endif %}
        
    </div>
    
    <div class="col-12">
        <div class="text-center">
            <div class="btn-group btn-group-sm">

                {% set active = activeGantt == "" ? "active" : "" %}
                <button
                    class="btn btn-outline-dark {{ active }}"
                    onclick="location.href = 'servicesprojectgantt/{{id_space}}'">
                        All projects {# ServicesTranslator::All_projects($lang) #}
                    </button>
                
                {% for pic in personInCharge %}
                    {% set active = activeGantt == pic["id"] ? "active" : "" %}
                    <button
                        class="btn btn-outline-dark {{ active }}"
                        onclick="location.href = 'servicesprojectgantt/{{id_space}}/{{allPeriod}}/{{pic['id']}}'">
                            {{ pic["user_name"] }}
                    </button>                    
                {% endfor %}    

            </div>
        </div>
    </div>

    {% set inheritedTheme = context.theme %}
    {# <div id="gantt" class="container">
            <g-gantt-chart
                chart-start="2021-07-12 12:00"
                chart-end="2021-07-14 12:00"
                precision="hour"
                bar-start="2021-07-13 00:00"
                bar-end="2021-07-14 02:00"
            >
                <g-gantt-row
                label="My row 1"
                :bars="row1BarList"
                />
                <g-gantt-row
                label="My row 2"
                :bars="row2BarList"
                />
            </g-gantt-chart>


    </div> #}

    <div id="gantt">        
        <g-gantt-chart
            :chart-start="chartStart"
            :chart-end="chartEnd"
            precision="month"
            width="100%"
            grid
            :row-height="40"
            bar-start="beginDate"
            bar-end="endDate"
            :date-format="format"
        >

            <g-gantt-row v-for="row in rows" :key="row.label"
            :label="row.label"
            :bars="row.bars"
            highlight-on-hover
            />

        </g-gantt-chart>

        <button @click="addBar()">
            Add bar
        </button>
    </div>

</div>

<script src="externals/node_modules/moment/min/moment.min.js"></script>
<script src="/externals/vue-ganttastic/dist/main.js"></script>

<script>
//console.log('gg', pfmGant.gant())
pfmGant.hello()

//const { createApp, ref } = Vue
let ref = pfmGant.vueRef()
const createApp = pfmGant.vueCreateApp()
const app = createApp({
    setup(props, context) {
        const chartStart = ref("21.03.2021 12:00")
        const chartEnd = ref("15.07.2021 12:00")
        const format = ref("DD.MM.YYYY HH:mm")
        let id_space = {{ id_space }}

        const rows = ref([
            {
            label: 'row1',
            bars: [
                {
                    beginDate: "24.04.2021 13:00",
                    endDate: "25.05.2021 19:00",
                    ganttBarConfig: {
                    id: "8621987329",
                    label: "I'm in a bundle 1",
                    bundle: "bundle1"
                    }
                }
                ]
            },
            {
            label: 'row2',
            bars: [
            {
                beginDate: "24.04.2021 13:00",
                endDate: "25.05.2021 19:00",
                ganttBarConfig: {
                id: "1592311887",
                label: "I'm in a bundle 2",
                bundle: "bundle2",
                style: {
                    background: "magenta"
                }
                }
            },
            {
                beginDate: "01.01.2021 00:00",
                endDate: "01.03.2021 00:00",
                ganttBarConfig: {
                id: "7716981641",
                label: "Lorem ipsum dolor",
                style: {
                    background: "#b74b52"
                }
                }
            },
            {
                beginDate: "15.06.2021 00:00",
                endDate: "10.07.2021 00:00",
                ganttBarConfig: {
                id: "9716981641",
                label: "Oh hey",
                style: {
                    background: "#69e064",
                    borderRadius: "15px",
                    color: "blue",
                    fontSize: "10px"
                }
                }
            }
        ]
            }
        ])


        const bars1 = ref([
        {
            beginDate: "24.04.2021 13:00",
            endDate: "25.05.2021 19:00",
            ganttBarConfig: {
            id: "8621987329",
            label: "I'm in a bundle 1",
            bundle: "bundle2"
            }
        }
        ])
        const bars2 = ref([
        {
            beginDate: "24.04.2021 13:00",
            endDate: "25.05.2021 19:00",
            ganttBarConfig: {
            id: "1592311887",
            label: "I'm in a bundle 2",
            bundle: "bundle2",
            style: {
                background: "magenta"
            }
            }
        },
        {
            beginDate: "01.01.2021 00:00",
            endDate: "01.03.2021 00:00",
            ganttBarConfig: {
            id: "7716981641",
            label: "Lorem ipsum dolor",
            style: {
                background: "#b74b52"
            }
            }
        },
        {
            beginDate: "15.06.2021 00:00",
            endDate: "10.07.2021 00:00",
            ganttBarConfig: {
            id: "9716981641",
            label: "Oh hey",
            style: {
                background: "#69e064",
                borderRadius: "15px",
                color: "blue",
                fontSize: "10px"
            }
            }
        }
        ])
        const addBar = () => {
            if (bars1.value.some(bar => bar.ganttBarConfig.id === "test1")) {
                return
            }
            const bar = {
                beginDate: "26.02.2021 00:00",
                endDate: "26.03.2021 02:00",
                ganttBarConfig: {
                id: "test1",
                hasHandles: true,
                label: "Hello!",
                style: {
                    background: "#5484b7",
                    borderRadius: "20px"
                }
                }
            }
            bars1.value.push(bar)
        }
        const count = ref(2)
        return { count, bars1, bars2, chartStart, chartEnd, format, addBar, rows }
    },
    created() {
        console.log("id_space: ", this.id_space);
        let dates = this.getDefaultDates();
        this.chartStart = dates.start;
        this.chartEnd = dates.end;
        console.log("dates: ", dates);
    },
    mounted() {
        console.log("mounted chartStart: ", this.chartStart);
    },
    updated() {
        console.log("updated chartStart: ", this.chartStart);
    },
    methods: {
        getDefaultDates() {
            let startDate = new Date();
            let endDate = new Date();
            endDate = endDate.setMonth(endDate.getMonth() + 1);
            return {
                start: moment(startDate).format('DD.MM.YYYY HH:mm'),
                end: moment(endDate).format('DD.MM.YYYY HH:mm')
            };
        },
    }
  })

app.use(pfmGant.gant()).mount("#gantt")

</script>

<link href="externals/node_modules/@taitems/jquery-gantt/css/style.css" type="text/css" rel="stylesheet">
<style type="text/css">

    h1 {
        margin: 40px 0 20px 0;
    }
    h2 {
        font-size: 1.5em;
        padding-bottom: 3px;
        border-bottom: 1px solid #DDD;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    table, th, td {
        text-align: center;
    }

    .fn-gantt .nav-link {
        padding: 0px;
    }
    .top-label {
        display:block;
        margin-bottom: 5px;
    }
    .side-label {
        margin-left: 5px;
    }

    .modal-dialog {
        position: absolute;
        z-index: 9;
        left: 50%;
        right: 50%;
        min-width: 300px;
    }

    #contextmenuHidable {
        max-height: 0px;
        overflow-y: hidden;
        transition: all 0.5s linear;
    }
    #contextmenuHidable.expanded {
        max-height: 1080px;
    }
    
</style>

{% endblock %}
