{% extends "Modules/layout.twig" %}

{% block content %}

<div class="pm-table">
    
    <div class="col-12">
        
        {% if allPeriod == 1 %}
            <h3> GanttPeriod {# ServicesTranslator::GanttPeriod($lang) #} <h3/>
        {% else %}
             <h3> GanttOpened {# ServicesTranslator::GanttOpened($lang) #} <h3/>
        {% endif %}
        
    </div>
    
    <div class="col-12">
        <div class="text-center">
            <div class="btn-group btn-group-sm">

                {% set active = activeGantt == "" ? "active" : "" %}
                <button
                    class="btn btn-outline-dark {{ active }}"
                    onclick="location.href = 'servicesprojectgantt/{{id_space}}'">
                        All projects {# ServicesTranslator::All_projects($lang) #}
                    </button>
                
                {% for pic in personInCharge %}
                    {% set active = activeGantt == pic["id"] ? "active" : "" %}
                    <button
                        class="btn btn-outline-dark {{ active }}"
                        onclick="location.href = 'servicesprojectgantt/{{id_space}}/{{allPeriod}}/{{pic['id']}}'">
                            {{ pic["user_name"] }}
                    </button>                    
                {% endfor %}    

            </div>
        </div> 
    </div>

    <div id="gantt" class="col-12">
        <g-gantt-chart
            :chart-start="myChartStart"
            :chart-end="myChartEnd"
        >
            <g-gantt-row
                v-for="row in rows"
                :key="row.label"
                :label="row.label"
                :bars="row.bars"
                bar-start="myStart"
                bar-end="myEnd"
                />
        </g-gantt-chart>


    </div> 
      
    <div class="col-12">
        <div class="gantt"></div>
    </div>
    
</div>

<script src="externals/vueganttastic.js"></script>

<script>
let app = new Vue({
    el: '#gantt',
    components:{
        'GGanttChart': ganttastic.GGanttChart,
        'GGanttRow': ganttastic.GGanttRow
    },

    data(){
        return {
           projects: {{ projects | raw }},



        myChartStart: "2020-03-01 00:00",
        myChartEnd: "2020-03-03 00:00",
        rows: [
            {
            label: "My row #1", // nom du projet
            bars: [
                {
                myStart: "2020-03-01 12:10",
                myEnd: "2020-03-01 16:35"
                }
            ]
            },
            {
            label: "My row #2",
            bars: [
                {
                myStart: "2020-03-02 01:00",
                myEnd: "2020-03-02 12:00"
                },
                {
                myStart: "2020-03-02 13:00",
                myEnd: "2020-03-02 22:00"
                }
            ]
            }
        ]
        }
    },
    created() {
        console.log("projects: ", this.projects);
        this.generateRows();
    },
    methods: {
        generateRows() {
            this.projects.forEach(project => {
                row = this.getRowFromProject(project);
                this.rows.push(row);
            });
        },
        getRowFromProject(project) {
            console.log("project.name: ", project.name);
            let row = {
                label: "",
                bars: [],
            };
            let label = "";
            let myStart = ""; // => in bars; = taskStartDate
            let myEnd = ""; // => in bars; = taskEndDate
            let bars = [];

            row.label = project.name;
            // row.bars = [];






            return row;
        },

    }

});
    
</script>

<link href="externals/node_modules/@taitems/jquery-gantt/css/style.css" type="text/css" rel="stylesheet">
<style type="text/css">

    h1 {
        margin: 40px 0 20px 0;
    }
    h2 {
        font-size: 1.5em;
        padding-bottom: 3px;
        border-bottom: 1px solid #DDD;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    table th:first-child {
        width: 150px;
    }

    .fn-gantt .nav-link {
        padding: 0px;
    }
    
    {{ css }}
    
</style>

{% endblock %}
