<div class="style="color:{{color}}; background-color:{{bgcolor}}; padding: 10px"">
    <div class="" style="height: 50px; padding-top: 15px; background-color:{{bgcolor}}; color: {{color}};; border-bottom: 1px solid #fff;">
        <a  style="background-color:{{bgcolor}}; color: {{color}};" href="/corespaceaccess/{{id_space}}"> {{title}} 
            <span style="color: {{color}}; font-size:16px; float:right;" class=" hidden-xs showopacity glyphicon glyphicon-user"></span>
        </a>
    </div>

    <div class=" pm-inline-div" style="background-color:{{bgcolor}}; color: {{color}};;">
        <a style="color: {{color}}" id="menu-button" href="corespacependingusers/{{id_space}}">{{PendingUsers}}</a> 
    </div>

    <div class="" style="background-color:{{bgcolor}}; color: {{color}};;">
        <br/>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}}; color: {{color}};;">
        <a style="color: {{color}}" id="menu-button" href="corespaceaccessusers/{{id_space}}">{{Active_Users}}</a>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}}; color: {{color}};;">
        <a style="color: {{color}}" id="menu-button" href="corespaceaccessusersinactifs/{{id_space}}">{{Inactive}}</a>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}}; color: {{color}};;">
        <a style="color: {{color}}" id="menu-button" href="corespaceaccessuseradd/{{id_space}}">{{Add}}</a>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}}; color: {{color}};;">
        <a style="color: {{color}}" id="menu-button" href="corespaceaccess/{{id_space}}/user/expire">{{Expire}}</a>
    </div>
        

</div>