<nav class="navbar navbar-default" style="color: {{color}}; background-color: {{bgcolor}}; z-index: 12;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/coremyaccount">{{My_Account}}</a>
        </div>

        <div id="usernavbar">
            <ul class="nav navbar-nav">
                <li><a href="usersmyaccount">{{Informations}}</a></li>
                <li><a href="coremyaccount">{{Password}}</a></li>
            </ul>                 
        </div>
    </div>
</nav>       