<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: {{color}}; background-color: {{bgcolor}}; z-index: 12;">
    <div class="container-fluid">
            <a class="navbar-brand" href="/coremyaccount">{{My_Account}}</a>
        <div id="usernavbar">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item"><a class="nav-link" href="usersmyaccount">{{Informations}}</a></li>
                <li class="nav-item"><a class="nav-link" href="coremyaccount">{{Password}}</a></li>
            </ul>                 
        </div>
    </div>
</nav>       