
<nav class="navbar navbar-expand-lg" style="background-color: {{color}}; z-index: 12;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="color: {{txtcolor}}" class="text-center" href="corespace/{{id}}"><h3 style="text-align: center; font-size: 16px;">{{name}}</h3></a>
        </div>
        
        <div id="extraspacemenus">
            <ul class="nav navbar-nav">
                {% if extraSpaceMenus %}
                    {% for menu in extraSpaceMenus %}
                        {% if menu.url %}
                        <li class="nav-item"><a class="nav-link" href="{{menu.url}}"><button type="btn" class="btn btn-primary">{{menu.name}}</button></a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="javascript:window.location.href=window.location.href"><button type="btn" class="btn btn-primary">{{menu.name}}</button></a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>                 
        </div>

    </div>
</nav>
