{% extends "Modules/layout.twig" %}


{% block content %}
<div class="pm-form">

    <div class="col-12">
        <h3> {{ projectString }} {{ projectName }} </h3>
    </div>

    <div class="col-12">
        {% include 'Modules/services/View/Servicesprojects/projecttabs.twig' %}
    </div>

    <div id="board" class="container mt-5">
        <div class="row">
            <div class="col form-inline">
                <label for="newTask">{{"{{textContent.newTask}}"}}</label>
                <input id="newTask" name="newTask" type="text" v-model="newTask" aria-placeholder="Enter Task" @keyup.enter="addTask"/>
                <button class="ml-2 btn btn-primary" @click="addTask" style="margin:5px;"><strong>+</strong></button>
            </div>

            <div class="col form-inline">
                <label for="newCat">{{"{{textContent.newCategory}}"}}</label>
                <input id="newCat" name="newCat" type="text" v-model="newCategory" aria-placeholder="Enter Category" @keyup.enter="addCategory"/>
                <input id="newCatColor" type="color" v-model="newCategoryColor" aria-placeholder="Choose Color" style="vertical-align:middle; margin-bottom:5px"/>
                <button class="ml-2 btn btn-primary" @click="addCategory" style="margin:5px;"><strong style="font-size=30px">+</strong></button>
            </div>
        </div>


        <div class="row mt-3">

            <!-- category edit modal -->
            <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryEdit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryEditTitle">{{"{{textContent.renameCategory}}"}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input
                                class="form-control"
                                id="editCategoryName"
                                type="text"
                                :value="selectedCategory.name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="openCategoryColorPicker">{{"{{textContent.close}}"}}</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="editCategory()">{{"{{textContent.save}}"}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- task edit modal -->
            <div class="modal fade" v-if="selectedTask" id="taskModal" tabindex="-1" aria-labelledby="taskEdit" aria-hidden="true">
                <form id="taskForm" name="taskForm" @submit.prevent="editTask()" method="post">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div v-if="selectedTask.done == true">
                                    <input
                                        type="button"
                                        class="btn btn-success"
                                        aria-label="This task is done"
                                        value="Done"
                                        disabled>
                                </div>
                                <h5 class="modal-title ms-2" id="taskEditTitle">{{"{{textContent.edit}}"}} {{"{{selectedTask.name}}"}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="taskName">{{"{{textContent.name}}"}}</label>
                                <input
                                    id="taskName"
                                    name="taskName"
                                    class="form-control"
                                    type="text"
                                    v-model="selectedTask.name">

                                <label for="taskDetails">{{"{{textContent.details}}"}}</label>
                                <textarea
                                    id="taskDetails"
                                    class="contentArea"
                                    name="taskDetails">
                                        {{"{{selectedTask.content}}"}}
                                </textarea>

                                <label for="taskUser">{{"{{textContent.assignee}}"}}</label>
                                <select
                                    id="taskUser"
                                    :list="projectUsers"
                                    class="form-control"
                                    name="taskUser"
                                    :value="selectedTask.id_user">
                                    <option v-if="projectUsers.length == 0" value="" disabled selected hidden>
                                        {{"{{textContent.noUserAssigned}}"}}
                                    </option>
                                    <option v-else v-for="user in projectUsers" :value=user.id>
                                        {{"{{user.name}}"}}
                                    </option>
                                </select>

                                <label for="taskVisibility">{{"{{textContent.visibility}}"}}</label>
                                <select
                                    id="taskVisibility"
                                    class="form-control"
                                    name="taskVisibility"
                                    :value="selectedTask.private">
                                    <option value="false" default>
                                        Public
                                    </option>
                                    <option value="true">
                                        {{"{{textContent.private}}"}}
                                    </option>
                                </select>
                                                        
                                <label for="services">Services</label>
                                <select
                                    id="taskServices"
                                    :list="projectServices"
                                    class="form-control"
                                    name="services"
                                    v-model="selectedTask.services"
                                    multiple>
                                    <option v-if="projectServices.length == 0" value="" disabled selected>
                                        {{"{{textContent.noServiceAssigned}}"}}
                                    </option>
                                    <option v-else v-for="service in projectServices" :value=service.id>
                                        {{"{{service.name}}"}}
                                    </option>
                                </select>

                                <button
                                    id="clearServices"
                                    name="clearServices"
                                    type="button"
                                    class="btn-close"
                                    @click="clearTaskServicesSelection(selectedTask)"
                                    aria-label="Clear selection"
                                    value="Clear selection">
                                </button>
                                <label
                                    for="clearServices"
                                    style="display:inline-block; horizontal-align:right; vertical-align:bottom; margin-top:0px;">
                                    {{"{{textContent.clearSelection}}"}}
                                </label>
                                
                                <label v-if="selectedTask.file" for="taskFile">
                                    {{"{{textContent.replaceFile}}"}}
                                </label>
                                <label v-else="selectedTask.file" for="taskFile">
                                    {{"{{textContent.addFile}}"}}
                                </label>

                                <div id="taskFile" name="taskFile" class="row form-control">
                                    <label v-if="selectedTask.file" for="uploadTaskFile">
                                        {{"{{textContent.currentFile}}"}}: {{"{{selectedTask.fileName}}"}}
                                    </label>
                                    <div id="fileUpload" class="mt-2 col-6">
                                        <input
                                            type="file"
                                            id="uploadTaskFile"
                                            name="uploadTaskFile"
                                            class="hidden">
                                    </div>

                                    <div id="fileDownload" v-if="selectedTask.file" class="mt-2">
                                        <input
                                            type="button"
                                            class="btn btn-success"
                                            :value="textContent.download"
                                            @click="openFile(selectedTask)">
                                    </div>
                                </div>

                                <div class="row form-control mt-3">
                                    <label for="start_date">
                                        {{"{{textContent.startDate}}"}}
                                    </label>
                                    <input
                                        id="taskStartDate"
                                        type="date"
                                        class="form-control"
                                        name="start_date"
                                        :value="selectedTask.start_date">

                                    <label for="end_date">
                                        {{"{{textContent.endDate}}"}}
                                    </label>
                                    <input
                                        id="taskEndDate"
                                        type="date"
                                        class="form-control"
                                        name="end_date"
                                        :value="selectedTask.end_date">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"{{textContent.close}}"}}</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">{{"{{textContent.save}}"}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <draggable id="categories" class="kanban-categories" :list="categories" group="categories" @change="changeCategoryPosition">
                <div class="category col-m-3 ms-2" v-for="(category, cindex) in categories" style="display:inline-flex">
                    <div :id=category.id class="p-2 alert" style="cursor:grab;">
                        <div v-if="category.name != 'done'" class="bi bi-x-square-fill deleteBtn" @click="deleteCategory(category)"></div>
                        <h3>
                            {{"{{category.name}}"}}
                            <button v-if="category.name != 'done'" class="bi bi-pencil-square round" data-bs-toggle="modal" data-bs-target="#categoryModal" @click="selectedCategory = category"></button>
                        </h3>
                        <input hidden class="categoryColorInput" type="color" v-model="category.color" aria-placeholder="Choose Color" @change="editCategoryColor($event, category)"/>
                        
                        <draggable :id="category.id" class="list-group kanban-category" :list="category.tasks" group="tasks" @change="changeTaskState($event, cindex)">
                            <div class="list-group-item" style="cursor:grab;" v-for="element in category.tasks" :key="element.id">
                                {{"{{element.name}}"}}
                                <button class="bi bi-pencil-square round" data-bs-toggle="modal" data-bs-target="#taskModal" @click="selectedTask = element"></button>
                                <div class="bi bi-trash deleteBtn" @click="deleteTask(element)"></div>
                            </div>
                        </draggable>

                    </div>
                </div>
            </draggable>
        </div>
    </div>
</div>

<script type="module">
import * as VueDraggableNext from '/externals/vuedraggableNext.js';

Vue.createApp({
    data () {
        return {
            newTask: "",
            newCategory: "",
            newCategoryColor: "#000000",
            id_space: {{ id_space }},
            sessionUserId: {{ sessionUserId }},
            id_project: {{ id_project }},
            tasks: {{ tasks | raw }},
            id_task: {{ id_task }},
            categories: {{ categories | raw }},
            projectServices: {{ projectServices | raw }},
            projectUsers: {{ projectUsers | raw }},
            textContent: {{ textContent | raw }},
            mainUser: {{ mainUser }},
            personInCharge: {{ personInCharge }},
            selectedTask: null,
            selectedCategory: null,
        }
    },
    components:{
        draggable: vueDraggableNext.VueDraggableNext
    },
    created() {
        this.categories.forEach(category => {
            category.name = category.name.replace(/\s/g, '').toLowerCase();
        });
        this.tasks.forEach(task => {
            if (task.private == "false" || task.id_owner == this.sessionUserId) {
                this.categories[task.state].tasks.push(task);
                this.setFileName(task);
            }
        });
        this.selectedCategory = this.categories[0];
        this.selectedTask = this.tasks[0];
    },
    mounted() {
        this.updateCategoriesColors();
        if (this.id_task != "0") {
            this.selectedTask = this.tasks.find(task => task.id == this.id_task);
            this.showTaskContent(this.selectedTask);
        }
    },
    methods: {

        // tasks related methods

        async openFile(task) {
            const headers = new Headers();
            headers.append('Content-Type','application/json');
            headers.append('Accept', 'application/json');
            const cfg = {
                headers: headers,
                method: 'POST',
                body: null
            };
            let targetUrl = `/servicesprojects/openfile/`;
            let apiRoute = targetUrl + this.id_space + "/" + this.id_project + "/" + task.id;
            await fetch(apiRoute, cfg, true).then(response => {
                if (response.status == 200) {
                    window.open(response.url, "_self");
                } else {
                    alert(this.textContent.downLoadError);
                }
            });
        },
        editTask() {
            let formData = new FormData(document.getElementById("taskForm"));
            this.selectedTask.name = formData.get("taskName");
            this.selectedTask.content = formData.get("taskDetails");
            this.selectedTask.id_user = formData.get("taskUser");
            this.selectedTask.start_date = formData.get("start_date");
            this.selectedTask.end_date = formData.get("end_date");
            this.updateTaskVisibility(formData.get("taskVisibility"));
            this.updateTaskFile(formData.get("uploadTaskFile"), this.selectedTask);
            this.updateTask(this.selectedTask);
        },
        clearTaskServicesSelection() {
            this.selectedTask.services = [];
        },
        setFileName(task) {
            if (task.file) {
                task.fileName = task.file.split("data/services/projecttasks/" + task.id + "_").pop();
            }
        },
        changeTaskState(event, categoryIndex) {
            if (event.added) {
                event.added.element.state = categoryIndex;
                let draggableElement = document.getElementById(this.categories[categoryIndex].id);
                this.updateTask(event.added.element);
            }
        },
        updateTaskVisibility(value) {
            this.selectedTask.private = value;
            this.selectedTask.id_owner = value ? this.sessionUserId : null;
        },
        async addTask(task=null) {
            if(this.newTask) {
                this.newTask = {
                    id: 0,
                    id_space: this.id_space,
                    id_project: this.id_project,
                    state: 0,
                    id_owner: null,
                    name: this.newTask,
                    content: "",
                    start_date: null,
                    end_date: null,
                    services: [],
                    id_user: this.mainUser,
                    done: false,
                    private: "false"
                };
                await this.updateTask(this.newTask);
                this.tasks.push(this.newTask);
                this.categories[0].tasks.push(this.newTask);
                this.newTask = "";
            }
        },
        async updateTask(task) {
            task.done = task.state == this.getDoneCategoryPosition() ? true : false;
            const headers = new Headers();
            headers.append('Content-Type','application/json');
            headers.append('Accept', 'application/json');
            const cfg = {
                headers: headers,
                method: 'POST',
                body: null
            };
            cfg.body = JSON.stringify({
                task: task
            });
            let targetUrl = `/servicesprojects/settask/`;
            let apiRoute = targetUrl + this.id_space + "/" + this.id_project;
            await fetch(apiRoute, cfg, true).
                then((response) => response.json()).
                then(data => {
                    task.id = data.id;
                });
        },
        async updateTaskFile(file, task) {
            let data = new FormData();
            data.append("file", file);
            const cfg = {
                method: 'POST',
                body: data
            };
            let targetUrl = `/servicesprojects/uploadtaskfile/`;
            let apiRoute = targetUrl + this.id_space + "/" + task.id;
            await fetch(apiRoute, cfg, true).then((response) => {
                console.log(response);
                if (response.status == 200) {
                    this.getTaskFile(task);
                } else {
                    alert(this.textContent.uploadError);
                }
            });
        },
        async getTaskFile(task) {
            const headers = new Headers();
            headers.append('Content-Type','application/json');
            headers.append('Accept', 'application/json');
            const cfg = {
                headers: headers,
                method: 'POST',
                body: null
            };
            let targetUrl = `/servicesprojects/gettaskfile/`;
            let apiRoute = targetUrl + this.id_space + "/" + task.id;
            await fetch(apiRoute, cfg, true).
                then((response) => response.json()).
                then(data => {
                    this.selectedTask.file = data.file;
                    this.setFileName(this.selectedTask);
                });
        },
        deleteTask(task, displayAlert=true) {
            if (!displayAlert || confirm(this.textContent.deleteTask + task.name)) {
                let tasks = this.categories[task.state].tasks;
                tasks.splice(tasks.indexOf(tasks.find(element => element.id == task.id)), 1);
                const headers = new Headers();
                headers.append('Content-Type','application/json');
                headers.append('Accept', 'application/json');
                const cfg = {
                    headers: headers,
                    method: 'POST',
                    body: null
                };
                cfg.body = JSON.stringify({
                    task: task
                });
                let targetUrl = `/servicesprojects/deletetask/`
                let apiRoute = targetUrl + this.id_space + "/" + task.id;
                fetch(apiRoute, cfg, true)
            }
        },

        // Categories related methods

        async changeCategoryPosition(event) {
            if (event.moved) {
                event.moved.element.position = event.moved.newIndex;
                 this.categories.forEach((category, index) => {
                    category.position = index;
                    category.tasks.forEach(task => {
                        task.state = index;
                        this.updateTask(task);
                    });
                });
                this.updateCategoriesColors();
                await this.updateCategories();
            }
        },
        editCategory() {
            let newName = document.getElementById("editCategoryName").value;
            if (newName != null) {
                this.selectedCategory.name = newName.replace(/\s/g, '').toLowerCase();
            }
            this.openCategoryColorPicker(this.selectedCategory);
            this.updateCategory(this.selectedCategory);
        },
        openCategoryColorPicker(category) {
            let colorInput = document.getElementById(category.id).getElementsByClassName("categoryColorInput")[0];
            colorInput.click();
        },
        editCategoryColor(event, category) {
            category.color = event.target.value;
            this.updateCategory(category);
            this.updateCategoriesColors();
        },
        updateCategoriesColors() {
            this.categories.forEach(category => {
                this.getRGBAColor(category);
            });
        },
        getRGBAColor(category, opacity=0.5) {
            let h = category.color.substring(1,7);
            let r = parseInt(h.substring(0,2),16);
            let g = parseInt(h.substring(2,4), 16);
            let b = parseInt(h.substring(4,6),16);
            let a  = opacity;
            let rgbaColor = "rgba(" + r +"," + g + "," + b + "," + a + ")";
            let categoryGroup = document.getElementById(category.id);
            categoryGroup.style.backgroundColor = rgbaColor;
        },
        getDoneCategoryPosition() {
            let result = null;
            result = this.categories.findIndex(category => category.name === "done");
            return result;
        },
        async addCategory(category=null) {
            if(this.newCategory) {
                this.newCategory = {
                    id: 0,
                    id_space: this.id_space,
                    id_project: this.id_project,
                    position: this.categories.length,
                    name: this.newCategory,
                    color: this.newCategoryColor,
                    tasks: []
                };
                this.categories.push(this.newCategory);
                await this.updateCategory(this.newCategory);
                this.updateCategoriesColors();
                this.newCategory = "";
            }
        },
        async updateCategories() {
            const headers = new Headers();
            headers.append('Content-Type','application/json');
            headers.append('Accept', 'application/json');
            const cfg = {
                headers: headers,
                method: 'POST',
                body: null
            };
            let targetUrl = `/servicesprojects/settaskcategory/`;
            let apiRoute = targetUrl + this.id_space + "/" + this.id_project;
            this.categories.forEach(async category => {
                cfg.body = JSON.stringify({
                    category: category
                });
                await fetch(apiRoute, cfg, true).
                    then((response) => response.json()).
                    then(data => {
                        category.id = data.id;
                });
            });
        },
        async updateCategory(category) {
            const headers = new Headers();
            headers.append('Content-Type','application/json');
            headers.append('Accept', 'application/json');
            const cfg = {
                headers: headers,
                method: 'POST',
                body: null
            };
            let targetUrl = `/servicesprojects/settaskcategory/`;
            let apiRoute = targetUrl + this.id_space + "/" + this.id_project;
            
            cfg.body = JSON.stringify({
                category: category
            });
            await fetch(apiRoute, cfg, true).
                then((response) => response.json()).
                then(data => {
                    category.id = data.id;
            });
        },
        deleteCategory(category) {
            if (confirm(category.name + ": " + this.textContent.deleteCategory )) {
                // remove tasks
                category.tasks.forEach(task => {
                    this.deleteTask(task, false);
                });

                // update tasks states
               this.tasks.forEach(task => {
                    if (task.state > category.position) {
                        task.state--;
                    }
                    this.updateTask(task);
                });

                // remove category
                this.categories.splice(this.categories.indexOf(this.categories.find(element => element.id == category.id)), 1);
                // update categories position
                this.categories.forEach((category, index) => {
                    category.position = index;
                });
                const headers = new Headers();
                headers.append('Content-Type','application/json');
                headers.append('Accept', 'application/json');
                const cfg = {
                    headers: headers,
                    method: 'POST',
                    body: null
                };
                cfg.body = JSON.stringify({
                    category: category
                });
                let targetUrl = `/servicesprojects/deletetaskcategory/`
                let apiRoute = targetUrl + this.id_space + "/" + category.id;
                fetch(apiRoute, cfg, true).then( () => {
                    this.updateCategoriesColors();
                    this.updateCategories();
                });
            }
        },

        // Utils

        getDate() {
            let today = new Date();
            let dd = String(today.getDate()).padStart(2, '0');
            let mm = String(today.getMonth() + 1).padStart(2, '0');
            let yyyy = today.getFullYear();
            return yyyy + '-' + mm + '-' + dd;
        },
        gotoGantt() {
            if (this.id_project) {
                let ganttUrl = "servicesprojectgantt/" + this.id_space + "/" + 1 + "/" + this.personInCharge + "/" + this.id_project;
                window.location = ganttUrl;
            } else {
                alert("there's no matching project");
            }
        },
        getMultipleSelectValues(select) {
            let result = [];
            const options = select && select.options;
            let opt;
            for (var i=0, iLen=options.length; i<iLen; i++) {
                opt = options[i];
                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        },
    }
}).mount('#board');
</script>

<style>
    .kanban-category {
        width: 250px;
        min-height: 300px;
        min-width: 150px;
    } 
    .list-group-item {
        align-content: right;
    }
    .contentArea {
        min-width: 350px;
    }
    .deleteBtn {
        display:inline;
        position: relative;
        float: right;
        background-color: transparent;
        color: red;
        cursor:pointer;
    }
    .round {
        background-color: transparent;        
        border-color: transparent;
        padding: 5px;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 100%
    }
    .modal-dialog {
        position: absolute;
        z-index: 9;
        left: 50%;
        right: 50%;
        min-width: 400px;
    }

    label {
        display: block;
        margin-top: 10px;
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
    }
</style>

{% endblock %}