{% extends "Modules/layout.twig" %}
   
{% block content %}

<div id="content" class="container pm-form">
    <div id="buttons">
        <button
            id="form_btn"
            onclick="show('spaceedit_form')"
            class="tab btn btn-primary"
            style="margin:5px; font-weight:bold">
            FORM
        </button>
        <button
            id="todo_btn"
            onclick="show('spaceedit_todo')"
            class="tab btn btn-secondary"
            style="margin:5px; font-weight:bold">
            TODO
        </button>
    </div>
    <div id="sections">
        <div id="spaceedit_form" style="display:block">
            {{ formHtml | raw }}
        </div>

        <div id="spaceedit_todo" style="display:none">

            <div class="page-header">
                <h3>Basic space configuration</h3>
            </div>
            
            {% for module in todolist %}
                <div>
                    <h4> {{ module.title }} </h4>
                    <p>
                        <a href="{{module.docurl}}" style="font-style:italic">
                            {{ module.title }} documentation
                        </a>
                    </p>    

                    {% for task in module.tasks %}
                        {% set checked = task.done ? "checked" : "" %}
                        <div>
                            <input
                                type="checkbox"
                                id="{{task.id}}"
                                name="{{task.id}}"
                                disabled
                                {{checked}} >
                            <label for="{{task.id}}" style="font-weight:normal">
                                <a id="{{task.id}}_link" href="{{task.url}}">
                                    {{task.title}}
                                </a>
                            </label>
                            {% if task.options %}
                                <select id="{{task.id}}_select" class="customSelector">
                                    <option value="" selected="selected" disabled>{{task.options.defaultText}}</option>
                                    {% for item in task.options.list %}
                                        <option value={{item.id}}>{{item.login}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    setLinks();

    function show(elemId) {
        const sections = [...document.getElementById('sections').children];
        const btns = [...document.getElementsByClassName('tab')];
        btns.forEach(btn => {
            (btn.id === event.target.id)
                ? btn.classList.replace('btn-secondary', 'btn-primary')
                : btn.classList.replace('btn-primary', 'btn-secondary');
        });
        sections.forEach(child => {
            if (child.id === elemId) {
                child.style.display = 'block';
            } else {
                child.style.display = 'none';
            }
        });
    }

    function setLinks() {
        const customSelectors = document.getElementsByClassName('customSelector');
        const taskNames = Array.from(customSelectors).map(item => item.id.split("_")[0]);
        taskNames.forEach(taskName => {
            let element = document.getElementById(taskName + '_link') ?? false;
            let url = element.href;
            let selector = document.getElementById(taskName + '_select') ?? false;
            selector.addEventListener("change", (event) => {
                let selectedValue = event.target.options[event.target.selectedIndex].value;
                element.href = url + "/" + selectedValue;
            });
        });
    }
</script>

{% endblock %}
