<div style="background-color:{{bgcolor}}; {%if color %} color: {{color}}; {%endif%} padding: 10px">
    <div style="height: 50px; padding-top: 15px; background-color:{{bgcolor}}; border-bottom: 1px solid #fff;">
        <a  style="{%if color %} color: {{color}}; {%endif%}" href=""> {{title}} 
            <span style="color: #fff; font-size:16px; float:right;" class=" hidden-xs showopacity glyphicon {{glyphicon}}"></span>
        </a>
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="anticorps/{{id_space}}">Anticorps</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="anticorpsedit/{{id_space}}/0">+</a>   
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="protocols/{{id_space}}/id">Protocoles</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="protocolsedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <br/>
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="sources/{{id_space}}">Sources</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="sourcesedit/{{id_space}}/0">+</a> 
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="isotypes/{{id_space}}">Isotypes</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="isotypesedit/{{id_space}}/0">+</a>
    </div>

    <div class="pm-inline-div">
        <br/>
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="especes/{{id_space}}">Espèces</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="especesedit/{{id_space}}/0">+</a> 
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="organes/{{id_space}}">Organes</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="organesedit/{{id_space}}/0">+</a>
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="prelevements/{{id_space}}">Prélèvements</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="prelevementsedit/{{id_space}}/0">+</a>
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="status/{{id_space}}">Status</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="statusedit/{{id_space}}/0">+</a>
    </div>

    <div class="pm-inline-div">
        <br/>
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="kit/{{id_space}}">KIT</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="kitedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="proto/{{id_space}}">Proto</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="protoedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="fixative/{{id_space}}">Fixative</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="fixativeedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="option/{{id_space}}">Option</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="optionedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="enzymes/{{id_space}}">Enzyme</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="enzymesedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">

        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="dem/{{id_space}}">Dém</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="demedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="aciinc/{{id_space}}">AcI Inc</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="aciincedit/{{id_space}}/0">+</a> 
    </div>

    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="linker/{{id_space}}">Linker</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="linkeredit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="inc/{{id_space}}">Linker Inc</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="incedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="acii/{{id_space}}">acII</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="aciiedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="application/{{id_space}}">Application</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="applicationedit/{{id_space}}/0">+</a> 
    </div>
    <div class="pm-inline-div">
        <a style="{%if color %} color: {{color}}; {%endif%}" class="menu-button" href="staining/{{id_space}}">Marquage</a>
        <a style="{%if color %} color: {{color}}; {%endif%}" href="stainingedit/{{id_space}}/0">+</a> 
    </div>

</div>
