<div style="color:{{color}}; background-color:{{bgcolor}}; padding: 10px">
    <div class="" style="height: 50px; padding-top: 15px; background-color:{{bgcolor}}; border-bottom: 1px solid #fff;">
        <a  style="background-color:{{bgcolor}}; color:{{color}};" href="/quote/{{id_space}}"> {{title}} 
            <span style="color:{{color}}; font-size:16px; float:right;" class=" hidden-xs showopacity glyphicon {{glyphicon}}"></span>
        </a>
    </div>

    <div class=" pm-inline-div" style="background-color:{{bgcolor}};">
        <a style="color:{{color}};" id="menu-button" href="quote/{{id_space}}">{{Quotes}}</a> 
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}};">
        <a style="color:{{color}};" id="menu-button" href="quoteuser/{{id_space}}">{{CreateExistingUserQuote}}</a>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}};">
        <a style="color:{{color}};" id="menu-button" href="quotenew/{{id_space}}">{{CreateNewUserQuote}}</a>
    </div>

</div>