<div style="color:{{color}}; background-color:{{bgcolor}}; padding: 10px">
    <div class="" style="height: 50px; padding-top: 15px; background-color:{{bgcolor}}; border-bottom: 1px solid #fff;">
        <a  style="background-color:{{bgcolor}}; color:{{color}};" href="/comtileedit/{{id_space}}"> {{title}} 
            <span style="color:{{color}}; font-size:16px; float:right;" class=" hidden-xs showopacity glyphicon {{glyphicon}}"></span>
        </a>
    </div>

    <div class=" pm-inline-div" style="background-color:{{bgcolor}};">
        <a style="color:{{color}};" class="menu-button" href="comtileedit/{{id_space}}">{{Tilemessage}}</a>
    </div>
    <div class=" pm-inline-div" style="background-color:{{bgcolor}};">
        <a style="color:{{color}};" class="menu-button" href="comnews/{{id_space}}">{{News}}</a>
        {% if isAdmin %} <a style="color:{{color}};" class="menu-button" href="comnewsedit/{{id_space}}/0">+</a> {% endif %}
    </div>
</div>

     