{# Sample invoice template, in Twig format

Variables:

    id_space: id of the space (not name)
    number: invoice number
    date: invoice date string
    unit: user unit
    resp: invoiced user
    address: destination address
    table: invoice html generated table
    total: invoice total
    useTTC: boolean
    details: invoice details html generated table
    clientsInfos: optional customer info (clientsInfo.name for example)
    invoiceInfo: invoice object
    isquote: boolean (if defined) to specify this is a quote and not an invoice

#}
<style type="text/css">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top; }
    td    { vertical-align: top; }
    -->
</style>
<page backcolor="#FEFEFE" backimg="data/invoices/bas_page.png" backimgx="center" backimgy="bottom" backimgw="100%" backtop="0" backbottom="30mm" footer="date;heure;page" style="font-size: 12pt">
    <bookmark title="Lettre" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px">
        <tr>
            <td style="width: 25%;">
                <!--<img style="width: 100%;" src="data/invoices/{{id_space}}/MONLOGO.png" alt="Logo"><br>-->
            </td>
            <td style="width: 75%; color: #444444;">
                AVIS DES SOMMES A PAYER
                <br/>
                RELEVÉ N° : {{number}}
            </td>
        </tr>
    </table>
    <br>
    <br>
    <div style="width: 100%">
        <div style="display:inline-block; vertical-align:top;">
            <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
                <tr>
                    <td style="width:50%;">
                        My street <br/>	
                        My Town	<br/><br/>
                    </td>
                </tr>
                <tr>   
                    <td style="width:50%;">
                        Personne à contacter :	<br/>
                        <b>Someone</b><br/>
						Couriel : mon email<br/>	
                        Tél : mon tel<br/>

                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; margin-left:400px">
            <table cellspacing="0" style="  text-align: left; font-size: 11pt; border-radius:7px; background-color:yellow; padding: 7px 7px 7px 7px;">
                <tr>
                    <td style="width:100%; ">
                        {{ resp }} <br>
                        {{ unit }} <br><br>
                        {{ address | raw }} <br>
                    </td>
                </tr>
            </table>
            <br>
            <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
                <tr>
                    <td style="width:100%; ">Rennes, le {{date }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="width: 100%; height:25px;">
    </div>
    <div style="width: 50%;">
        <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
            <tr>   
                <td style="width:100%; ">
                    
                    <table border="1" style="border-collapse:collapse; text-align:center;">

                        <tr><td style="width:40%;">Unité : 453</td><td style="width:40%;">CR : ABCD</td></tr>
                    </table>

                </td>
            </tr>
        </table>
    </div>
    <div style="width: 50%; margin-left:400px; margin-top: -25px;">
        <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt; border-collapse:collapse; text-align:center;">
            <tr>
                <td style="width:100%; margin-left:400px; margin-top:-150px;">  
                    <br>
                    <table border="1" style="border-collapse:collapse; text-align:center;">

                        <tr><td style="width:25%;">453</td><td style="width:25%;"> {{ 'now' | date('Y') }}	</td><td style="width:25%;">12PL514-02X</td></tr>
                        <tr><td>U.B</td><td>	Année</td><td>	CR	</td></tr>
                        <tr><td colspan="3">(Référence à rappeler)	</td></tr>
                    </table>
                </td>
            </tr>    
        </table>
    </div>

    <div style="width: 100%; height:75px;">
    </div>

    {% if invoiceInfo.title %}
        {{invoiceInfo.title}}
        <br>
    {% endif %}

    {{ table | raw }}
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        <tr>
            <th style="width: 87%; text-align: right;">Total : </th>
            <th style="width: 13%; text-align: right;">{{ total | number_format(2, ',', ' ')}} &euro;</th>
        </tr>
    </table>
    {% if useTTC %}
        <br>
        <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
            <tr>
                <th style="width: 87%; text-align: right;">TVA 20%: </th>
                <th style="width: 13%; text-align: right;">{{ (0.2 * total) | number_format(2, ',', ' ')}} &euro;</th>
            </tr>
            <tr>
                <th style="width: 87%; text-align: right;">Total TTC: </th>
                <th style="width: 13%; text-align: right;">{{ (1.2 * total) | number_format(2, ',', ' ')}} &euro;</th>
            </tr>
        </table>
    {% endif %}
    <br>
    <nobreak>
        <table cellspacing="0" style="width: 100%; text-align: left;">

            <tr>
                <td style="width:60%; color:red;">
                    ATTENTION, ceci n'est pas une facture, merci de bien vouloir 
                    retourner ce document signé " Bon pour accord " accompagné 
                    d'un bon de commande à <strong>XXXXXXX</strong>

                </td>
                <td style="width:40%; border: 1px dashed #000;">
                    <b>Bon pour accord le :</b><br>
                    Cachet et signature :<br>
                </td>
            </tr>
        </table>
    </nobreak>
</page>

{% if details %}
<page backcolor="#FEFEFE" backimg="data/invoices/bas_page.png" backimgx="center" backimgy="bottom" backimgw="100%" backtop="0" backbottom="30mm" footer="date;heure;page" style="font-size: 12pt">
	{{ details | raw }}
</page>
{% endif %}
