{# Sample quote template, in Twig format

Variables:

    id_space: id of the space (not name)
    number: invoice number
    date: invoice date string
    unit: user unit
    resp: invoiced user
    address: destination address
    table: invoice html generated table
    total: invoice total
    useTTC: boolean
    details: invoice details html generated table
    clientsInfos: optional customer info (clientsInfo.name for example)
    invoiceInfo: invoice object
    isquote: boolean (if defined) to specify this is a quote and not an invoice
    company: space company info
    space: space info

#}
<style type="text/css">
    <!--
    table { vertical-align: top; }
    tr    { vertical-align: top; }
    td    { vertical-align: top; }
    -->
</style>
<page backcolor="#FEFEFE" backimg="data/invoices/bas_page.png" backimgx="center" backimgy="bottom" backimgw="100%" backtop="0" backbottom="30mm" footer="date;heure;page" style="font-size: 12pt">
    <bookmark title="Lettre" level="0" ></bookmark>
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px">
        <tr style="height: 50px; background-color: #107E9C; padding: 15px"><td colspan="2"><h3>{{company.name}}</h3></td></tr>
        <tr>
            <td style="width: 25%;">
            {% if space.image %}
                <img style="max-height: 100px;" src="{{space.image}}" alt="Logo"><br>

            {% endif %}
            </td>
            <td style="width: 75%; border: 1px">
                {{translator.quote(lang)}} - N° : {{id}}
                <br/><br/>
                {{company.city}}, le {{date }}
            </td>
        </tr>
    </table>
    <br>
    <br>
    <div style="width: 100%">
        <div style="display:inline-block; vertical-align:top;">
            <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
                <tr>
                    <td style="width:50%;">
                        <strong>{{company.name}}</strong><br/>
                        {{company.address}}<br/>
                        {{company.zipcode}} {{company.city}} - {{company.country}}
                    </td>
                </tr>
                <tr>   
                    <td style="width:50%;">
                        Personne à contacter :
                        <b>{{space.contact}}</b><br/>
						Couriel : {{company.email}}<br/>	
                        Tél : {{company.tel}}<br/>

                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 400px; width: 300px; flex: auto; font-size: 11pt; border: 1px; border-radius:7px; padding: 7px 7px 7px 7px;">
            {{ resp }} <br/> {{ unit }}<br>
            {{ address | raw }}

        </div>
    </div>
    <div style="width: 100%; height:25px;">
    </div>

    {% if invoiceInfo.title %}
        {{invoiceInfo.title}}
        <br>
    {% endif %}

    {{ table | raw }}
    <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        <tr>
            <th style="width: 87%; text-align: right;">Total : </th>
            <th style="width: 13%; text-align: right;">{{ total | number_format(2, ',', ' ')}} &euro;</th>
        </tr>
    </table>
    {% if useTTC %}
        <br>
        <table cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
            <tr>
                <th style="width: 87%; text-align: right;">TVA 20%: </th>
                <th style="width: 13%; text-align: right;">{{ (0.2 * total) | number_format(2, ',', ' ')}} &euro;</th>
            </tr>
            <tr>
                <th style="width: 87%; text-align: right;">Total TTC: </th>
                <th style="width: 13%; text-align: right;">{{ (1.2 * total) | number_format(2, ',', ' ')}} &euro;</th>
            </tr>
        </table>
    {% endif %}
    <br>
    <nobreak>
        <table cellspacing="0" style="width: 100%; text-align: left;">

            <tr>
                <td style="width:60%; color:red;">
                    ATTENTION, ceci n'est pas une facture, merci de bien vouloir 
                    retourner ce document signé " Bon pour accord " accompagné 
                    d'un bon de commande à <strong>{{space.contact}}</strong>

                </td>
                <td style="width:40%; border: 1px dashed #000;">
                    <b>Bon pour accord le :</b><br>
                    Cachet et signature :<br>
                </td>
            </tr>
        </table>
    </nobreak>
</page>

{% if details %}
<page backcolor="#FEFEFE" backimg="data/invoices/bas_page.png" backimgx="center" backimgy="bottom" backimgw="100%" backtop="0" backbottom="30mm" footer="date;heure;page" style="font-size: 12pt">
	{{ details | raw }}
</page>
{% endif %}
